body{
margin: 0; /*khoang cach le giua cac html*/
padding: 0; /*khoang cach html va noi dung*/
background-image: url("image/login.jpg");
background-size: cover; /*tu chia kich thuoc*/
color: while;
}
.loginbox{
position: absolute; /*dinh vi tri theo cua so trinh duyet*/
top: 50%;
left: 50%;
width: 320px;
height: 400px;
transform: translate(-50%,-50%); /*dich chuyen theo toa do*/

}

.loginbox h1{
font-size: 40px;
color: #333300;
border-bottom: 3px solid #003300;
padding: 10px 0;
margin-bottom: 50px;
float: left; /*dan trang (can le)*/
}

.clearfix{
    clear: both; /*ben phai va trai khong duoc float*/
}
.textbox{
    width: 100%;
    border-bottom: 1px solid #336633;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 20px; 
}
.textbox i{
    color: #333300;
    font-size: 17px;
}
.textbox input{
    background: none;
    margin-left: 10px;
    border: none ;
    outline: none; /*duong vien*/
    color: #333300;
    font-size: 15px;
 }
 .btlogin{
     width: 320px;
     background: none;
     font-size: 20px;
     color: #666633;
     text-align: center;
     margin: 15px 0;
     padding: 12px 0;
     border-bottom-left-radius: 2px solid #336633;
     cursor: pointer; /*hien thi con tro chuot khi di chuyen vao tphan*/
 }
 .btlogin:hover{ /*do mau khi re chuot vao tphan*/
     background: #333300;
 }
 .loginbox a{
     color: #333300;
     font-size: 15px;
     text-decoration: none; /*gạch chân*/
     line-height: 20px;
 }
 .loginbox a:hover{
     color: #993333;
 }